{% extends 'base.html.twig' %}

{% block title %}Bonjour Stockage Controller {% endblock %}

{% block body %}
    <h1>Page d'accueil </h1>
    <nav>
        <ul>

        </ul>
    </nav>

{% endblock %}
